<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/homeStyle.css">
    </head>
    <body>
        <h1>
            Injection Vulnerability
        </h1>
    </body>
</html>