<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Out of band SQL Injection</h1>
        <p>
            The attacker can only carry out this form of attack when certain features are enabled on the database
             server used by the web application. This form of
             attack is primarily used as an alternative to the in-band and inferential SQLi techniques.
             <br>
             Out-of-band SQLi is performed when the attacker can’t use the same channel to launch 
             the attack and gather information, or when a server is too slow or unstable for these actions 
             to be performed. These techniques count on the capacity of the server to create DNS or HTTP 
             requests to transfer data to an attacker.
             <br>
             Out-of-band techniques, offer an attacker an alternative to inferential time-based techniques, especially
              if the server responses are not very stable (making an inferential time-based attack unreliable).
              Out-of-band SQLi techniques would rely on the database server’s ability to make DNS or HTTP 
              requests to deliver data to an attacker. Such is the case with Microsoft SQL Server’s 
              xp_dirtree command, which can be used to make DNS requests to a server an attacker controls;
               as well as Oracle Database’s UTL_HTTP package, which can be used to send HTTP requests from 
               SQL and PL/SQL to a server an attacker controls. 
        </p>
    </body>
</html>