<html>
    <head>

    </head>
    <body>
        <% for(let i=0;i<user.length;i++){ %>
            <%= user[i].name %>
            
            <%= user[i].password %>
            <br>
        <% } %>
    <% } %>   
</body>
</html>
